# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Streamlit
.streamlit/secrets.toml

# OS Files
Thumbs.db
.DS_Store