streamlit
pdfplumber
sentence-transformers
scikit-learn
google-generativeai
python-dotenv
numpy
pandas
faiss-cpu
torch
torchvision
reportlab
streamlit-mic-recorder
SpeechRecognition
librosa
pydub
langgraph
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters